.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	padding: 5px;
	background-image: url("dot-grid.png");
	background-repeat: repeat;
}

.wrapper > content {
	margin: 10px;

}

.container {
	max-width: 820px;

}

pre {

font-family: "Courier New", Courier, monospace;

}

a {
	color: #c05858;
}