
/* flexbox elements */

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	padding: 5px;
	/*background-image: url("../universal/bggrey2.gif");
	background-repeat: repeat;*/
}

body {
	background-image: url("../universal/bggrey.png");
	background-repeat: repeat;
	background-size: 10%;
}

.navbar {
	display: flex;
	font-size: 28px;
	font-family: Arial;
}

.navlink {
	display: block;
	margin: 5px;
	position: relative;
}

.header {
	display: flex;
}

.wrapper > footer {
	margin: 10px;

	
}

.wrapper > content {
	margin: 10px;

}
.wrapper > sidebar {
	margin: 10px;
}

#content {
    border-radius: 15px 0px 0px 15px;
    background: #f2f2f4;
	padding: 35px;
	font-size: 16px;
	font-family: Arial;
	max-width: 600px;
}

#content-2 {
    border-radius: 15px 15px 15px 15px;
    background: #f2f2f4;
	padding: 35px;
	font-size: 16px;
	font-family: Arial;
	max-width: 800px;
}

#sidebar {
	border-left: 2px dashed grey;
    border-radius: 0px 15px 15px 0px;
    background: #e3e3e5;
	padding: 35px;
	color: #70707a;
	font-family: Arial;
	max-width: 130px;
}

#footer {
	padding: 20px;
	color: gray;
}

@font-face {
	font-family: "Mona";
	src: url("../mona.woff");
}

#monar {
	font-family: "Mona";
}

.navbar a {
    text-align: center;
	padding: 15px 15px;
}

ol {
	text-align: left;
}

/* simple styling */
h1 {
    color: #d1de5b;
	text-align: center;
}

h2 {
	color: #70707a;
	text-align: left;
}
h3 {
    color: #70707a;
}
h5 {
	color: #70707a;
}
p {
	
	text-align: justify;
}

a:link {
    color: #2e80e4;
    text-decoration: none;
	font-weight: bold;
}


a:visited {
    color: #2e80e4;
    text-decoration: none;
	font-weight: bold;
}


a:hover {
    color: #5499f7;
    text-decoration: none;
}


a:active {
    color: #6d72c3;
    text-decoration: none;
} 