body {
    font-family: 'mona';
    background: rgb(239, 241, 241);
    min-height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexbox-container{
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}    

.intro-box {
    height: 100%;
    padding-left: 0.2rem;
    padding-right: 1rem;
    padding-bottom: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.internal-box {
    height: 100%;
    padding: 1rem;
    padding-top: 0em;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.internal-call-box {
    background-color: hsl(219, 12%, 37%);
    color: aliceblue !important;
    height: 100%;
    padding: 1rem;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    border-radius: .5rem;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .2em;
    margin-bottom: 3px;
}
.internal-call-box-2 {
    background-color: hsl(219, 12%, 37%);
    color: aliceblue !important;
    height: 100%;
    padding: 1rem;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    border-radius: .5rem;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .2em;
    margin-bottom: 3px;  
}
.internal-call-box-3 {
    background-color: #e94f8a;
    color: aliceblue !important;
    height: 100%;
    padding: 1rem;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    border-radius: .5rem;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .2em;
    margin-bottom: 3px;  
}

svg {
    padding-right: 1rem;
    width: 10%; height: auto;
}

.mainbox {
    background: rgba(255, 255, 255);
    border-radius: .5rem;
    margin-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-width: 45rem;
    max-width: 45rem;
    font-family: mononoki;
    display: flex;
    flex-flow: column;
    box-shadow: 0 -10px 9px -5px hsl(194, 92%, 60%);
}

.subbox {
    display: flex;
    flex-flow: row;
    
}

.button-box {
    /* background-color: #ece9ea; */
    /* color: aliceblue !important; */
    padding: .2rem;
    /* width: 100%; */
    text-align: left !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* border-radius: .5rem; */
	/*padding-top: 1em;*/
    margin: .5em;
    width: 50%;
}
.nav {
    width: 120%;
    padding-top: .9em;
}

.nicelink{
    text-decoration: none;
}

.disclaimer{
    font-size: .5em !important;
}
  
@keyframes bgscroll {
    0% {background-position: 3rem 7rem;}
    100% {background-position: 13rem 12.8rem;}
}

figcaption {
    font-size: .8em;
    color:#686b6b;
}

figure {
    margin-left: 1em;
}

.imgwrap {
    margin: auto;
 }

 .imgwrap figure {
    display: block;
    width: 100%;
    max-width: 500px; /*actual image width*/
    height: auto; /* maintain aspect ratio*/
    margin: auto; /*optional centering of image*/
    padding-top: .5em;
 }


.bgbox {
    background: hsl(219, 12%, 37%);
    border-radius: .5rem;
    margin-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-width: 45rem;
    max-width: 45rem;
    z-index: -1;
    background-image: url('../assets/special_grid.png');
    filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(30deg);
    background-size: 15rem;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: 3rem 7rem;
    animation: bgscroll 5s linear 0s infinite; 
    
    align-self: flex-end;
    margin-bottom: -35px;
     
}

h1 {
    font-family: title;
    font-size: 3.5rem;
    color:hsl(219, 12%, 37%);
    padding-top: .3em;
    margin: 0;
}

h2 {
    font-family: mononoki;
    font-size: 1.5rem;
    font-style: oblique;
    color:hsl(219, 12%, 37%);
    margin: 0;
    margin-top: .6em;
    margin-bottom: .2em;
}

h3 {
    font-family: dot;
    font-size: 1.2rem;
    font-weight: bold;
    color:hsl(219, 12%, 37%);
    margin: 0;
}
    .breadcrumbs {
        color: #99a8a8;
        font-family: mononoki;
    }
    .breadcrumb-link{
        color: #808f8f;
    }

h4 {
    font-family: title;
    font-size: 1.1rem;
    font-family: mononoki;
    font-weight: normal;
    margin: 1em;
    margin-bottom: .5em;
    color:#686b6b;
}

hr {
    width:45%;
    text-align:left;
    margin-left:0;
    color: hsl(219, 12%, 37%);
    border-width: 3px;
    margin-left: .4em;
}

p {
    font-family: mononoki;
    font-size: 1em;
    margin-left: .2em;
    margin-top: .5em;
    margin-bottom: .2em;
}

.inline-left {
    float: left;
    padding-right: 1em;
    
}

.inline-right {
    float: right;
    padding-left: 1em;
    
}

.mona {
	font-family: dot;
	
}

@font-face {
    font-family: mononoki;
    src: url(../assets/mononoki-Regular.ttf);
}

@font-face {
    font-family:title;
    src: url(../assets/CoupeurCarve-Heavy.otf);
}

@font-face {
    font-family:dot;
    src: url(../assets/DotGothic16-Regular.ttf);
}
