---
layout: layouts/base.njk
title: About
---
<center>
  <pre class="ansi-logo">                           
       █▄                █▄ 
       ██               ▄██▄
 ▄▀▀█▄ ████▄ ▄███▄ ██ ██ ██ 
 ▄█▀██ ██ ██ ██ ██ ██ ██ ██ 
▄▀█▄██▄████▀▄▀███▀▄▀██▀█▄██ 
                            </pre>
<p><a href="/"><- back home</a></p>
</center>
<p>I go by 'apt' online. I can be reached at apt＜AT!＞ascii＜DOT＞garden.</p>
<p>I like using the internet, drawing and painting, Hatsune Miku, phased arrays, playing bass guitar, spacecraft, and my friends' cats.</p>
<p>old resumes, shared here for posterity (learn from my mistakes, kids):</p>
<ul>
  <li><a href="/assets/resumes/resume_08_2024.pdf">Resume (Aug 2024)</a></li>
  <li><a href="/assets/resumes/resume_08_2023.pdf">Resume (Aug 2023)</a></li>
  <li><a href="/assets/resumes/resume_08_2022.pdf">Resume (Aug 2022)</a></li>
</ul>