---
layout: layouts/base.njk
title: About
---
<center>
  <pre class="ansi-logo">                           
       █▄                █▄ 
       ██               ▄██▄
 ▄▀▀█▄ ████▄ ▄███▄ ██ ██ ██ 
 ▄█▀██ ██ ██ ██ ██ ██ ██ ██ 
▄▀█▄██▄████▀▄▀███▀▄▀██▀█▄██ 
                            </pre>
<p><a href="/"><- back home</a></p>
</center>
<p>I go by 'apt' online. I can be reached at apt＜AT!＞ascii＜DOT＞garden.</p>
<p>I like using the internet, drawing and painting, Hatsune Miku, phased arrays, playing bass guitar, spacecraft, and my friends' cats.</p>
<p>If you're a corporate kind of person, you might be interested in my <a href="/cv/">resume</a>.</p>
<h4>sites by my friends</h4>
<p><a href="https://lithos.cc/"><img src="/assets/img/lithos_button.png" alt="lithos website button: pink and orange speckled background with pixelated text reading lithos and a tiny rocket with sparkles" eleventy:ignore><a href="https://furbisms.neocities.org/"><img src="/assets/img/furbisms_no_dither.gif" alt="furbisms website button" eleventy:ignore><a href="https://ascii.garden/"><img src="/assets/img/ascii_garden_widget.png" alt="furbisms website button" eleventy:ignore></a></a></p>