---
layout: layouts/base.njk
title: resume
---
<center>
  <pre class="ansi-logo">                           
 ▄                      ▄             
 ████▄▄█▀█▄ ▄██▀█ ██ ██ ███▄███▄ ▄█▀█▄
 ██   ██▄█▀ ▀███▄ ██ ██ ██ ██ ██ ██▄█▀
▄█▀  ▄▀█▄▄▄█▄▄██▀▄▀██▀█▄██ ██ ▀█▄▀█▄▄▄
                            </pre>
<p><a href="/"><- back home</a> <a href="/about"><- back to about</a></p>
<p><i style="font-size:12px">last updated 6/2/2026</i></p>
</center>
<style>
p {
  font-size: 14px;
}
ul {
  font-size: 12px;
}
</style>

<h2>Experience</h2>
<p style="text-align:left;">
    <b>Electrical Hardware Reliability Engineer</b>
    <span style="float:right;">
        July 2025 - Present
    </span>
    <br>
    SpaceX (Starlink) - Austin, TX
    <ul>
    <li>Developed test program and probe card schematics for FEM chip package test, overseeing full hardware development</li>
    <li>Developed new laboratory test system for functional check of FEM chips, including subsequent data analysis tooling, resulting in cost savings >400k USD, 5% improvement in measurement accuracy and days saved in cumulative test time</li>
    <li>Performed failure analysis on dozens of discrete chips, exonerating devices and eliminating requirement of interposer PCB</li>
    <li>Developed PFMEA and WIP exposure matrix for PLP line to characterize failure modes and clarify scope of material at risk during containments</li>
    </ul>
</p>
<p style="text-align:left;">
    <b>Engineering Intern</b>
    <span style="float:right;">
        June 2024 - August 2024
    </span>
    <br>
    SpaceX (Dragon) - Cape Canaveral, Florida
    <ul>
    <li>Created a full-stack application for dynamic prescription of flight hardware on vehicle from physical measurements and structural requirements</li>
    <li>Contributed to root-cause investigation of high-pressure ECLSS loading systems</li>
    <li>Assisted in development of the UHF radio payload aboard customer fram2 mission, ultimately used in the global 'Fram2Ham' competition</li>
    </ul>
</p>
<p style="text-align:left;">
    <b>Visiting Undergraduate Student</b>
    <span style="float:right;">
        January 2024 - February 2024
    </span>
    <br>
    Commnet Laboratory, Northwestern University - Evanston, Illinois
    <ul>
    <li>Enabled Ettus SDR hardware to communicate with the OpenAirNetwork 5G platform, establishing configuration for course laboratories</li>
    <li>Developed TensorFlow-based prototypes for cognitive radio and dynamic spectrum sharing research</li>
    </ul>
</p>
<p style="text-align:left;">
    <b>Engineering Intern</b>
    <span style="float:right;">
        June 2023 - August 2023
    </span>
    <br>
    SpaceX (Starlink) - Hawthorne, California
    <ul>
    <li>Led a high-impact investigation of RF performance in the Starlink consumer phased array, resulting in a ~4% FPY increase</li>
    <li>Developed new Python library for statistical comprehension of RF test and antenna calibration data</li>
    <li>Conducted root-cause investigations resolving piecepart, PCB, embedded software and silicon level failure modes at production</li>
    </ul>
</p>
<p style="text-align:left;">
    <b>Software Engineering Intern</b>
    <span style="float:right;">
        June 2022 - August 2022
    </span>
    <br>
    Kratos Space (OpenSpace) - Colorado Springs, Colorado
    <ul>
    <li>Implemented drivers for dynamic control of RF instruments within internal ATS library</li>
    </ul>
</p>

<h2>Skills</h2>
<p>
Behold my list of keywords
<ul>
<li><b>Software and Tools: </b>Python (Pandas/Polars, scikit-rf), C, C++, Java, MATLAB, SQL, Git, GNU Radio, Linux, Siemens/Mentor Graphics, NX, Solidworks</li>
<li><b>RF Hardware: </b>FEMs, beamformers, phased arrays, modems, SDR</li>
<li><b>Lab & FA Skills: </b>soldering and rework, x-ray inspection, curve tracing, probing, thermography, split cyclinder resonator</li>
</ul>
</p>

<h2>Certifications</h2>
<ul>
<li style="text-align:left;">Shainin RedX Apprentice
    <span style="float:right;">
        2025
    </span></li>
<li style="text-align:left;">Amateur Radio Licence
    <span style="float:right;">
        KD9ORR, General
    </span></li>
</ul>

<h2>Projects</h2>
<ul>
<li style="text-align:left;"><b>High-Altitude Ballooning: </b> Founding member of NIBBB, a club that design and launches small balloons transmitting GPS telemetry via WSPR (FSK) that circumnavigate the globe; confirmed intercepted by the US Air Force
    <span style="float:right;">
        2021-2023
    </span></li>
<li style="text-align:left;"><b>NASA Student Launch </b> Developed RF direction-finding payload and ground station for collegiate rocketry competition
    <span style="float:right;">
        2022
    </span></li>
<li style="text-align:left;"><b>Rose Tech Radio Club </b> President of campus technical club providing students access to electronics, RF, and signal processing projects
    <span style="float:right;">
        2021-2025
    </span></li>
</ul>

<h2>Volunteering</h2>
<ul>
<li style="text-align:left;"><b>ARISS (Amateur Radio on the International Space Station): </b> Supporting development of flight hardware with engineering team and community organizer
    <span style="float:right;">
        2025 - Present
    </span></li>
<li style="text-align:left;"><b>FIRST Robotics: </b> Mentor and volunteer for Robotics Challenge and Tech Challenge events serving middle and high school students
    <span style="float:right;">
        2021 - Present
    </span></li>
</ul>

<h2>Education</h2>
<p style="text-align:left;">
    <b>Rose-Hulman Institute of Technology</b> - BS, Engineering Design
    <span style="float:right;">
        May 2025
    </span>
    <ul>
    <li>Minor in Electrical and Computer Engineering</li>
    </ul>
</p>